
body {
    font-family: 'Poppins', sans-serif;
    background: #ffffff;

}

.header{
    padding:150px;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                    url("images/background1.jpg");
    color: white;
    border-color: black;
    font-size: x-large;
    margin-bottom: 100px;
    background-size: cover;
    background-position: center;

}

#request-btn {
background-color: rgb(247, 134, 20);
border-width: 0px;
padding-top:20px;
padding-bottom:20px;
padding-left:10px;
padding-right:10px;
font-weight: bold;
}
.top-hero { 
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;            
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color:rgb(247, 134, 20);
    padding-top: 0.2px;
    padding-bottom: 0.2px;
}

.options {
    display: flex;
    color:aliceblue;
}


#services {
    margin-top: 6px;
    margin-bottom: 0px;
    margin-left: 6px;
    margin-right: 6px;
}

#projects {
     margin-top: 6px;
    margin-bottom: 0px;
    margin-left: 6px;
    margin-right: 6px;
}

#contacts {
     margin-top: 6px;
    margin-bottom: 0px;
    margin-left: 6px;
    margin-right: 6px;
}

.Services {
    display: flex;
    margin:10px;
    text-align:center;
    margin-top:50px;
}

.service-1 {
    margin:10px;
    background: aliceblue;
    padding-left:20px;
    padding-right:20px;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
    box-shadow: 3px 3px 10px black;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    
}
.service-1:hover{
    background-color: rgb(247, 134, 20);/* color when hovered */
    transform: scale(1.05);    
}

.service-2 {
    margin:10px;
    background: aliceblue;
    padding-left:20px;
    padding-right:20px;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
    box-shadow: 3px 3px 10px black;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}
.service-2:hover{
    background-color: rgb(247, 134, 20); /* color when hovered */
    transform: scale(1.05);    
}

.service-3 {
    margin:10px;
   background: aliceblue;
    padding-left:20px;
    padding-right:20px;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
    box-shadow: 3px 3px 10px black; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}
.service-3:hover{
    background-color: rgb(247, 134, 20); /* color when hovered */
    transform: scale(1.05);    
}

#header-2 {
    text-align:center;
    font-weight: bold;
    font-size: xx-large;
}

.stats {
    display:flex;
    justify-content: space-around;
    background: black;
    color:white;
    padding-top:50px;
    padding-bottom:50px;
    margin-top:100px;
}

#head1 {
    color:rgb(247, 134, 20);
    font-weight: bold;
    font-size: xx-large;
}
#head2 {
    color:rgb(247, 134, 20);
    font-size: xx-large;
    font-weight: bold;
}
#head3 {
    color:rgb(247, 134, 20);
    font-size: xx-large;
    font-weight: bold;
}

#header-3 {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

#btn-2 {
    border-width: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(252, 152, 52);
    font-weight: bold;
}

.section-2 {
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color:rgb(247, 134, 20);
    color: white;
    margin-bottom: 0px;
}
.hover-img1 {
    width: 300px;
    height: 200px;
    transition: transform 0.4s ease, filter 0.4s ease;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px;
    align-items: center;
}
.hover-img1:hover {
    transform: scale(1.1);     /* zoom */
    filter: brightness(80%);  /* slightly darker */
}

.hover-img2 {
    width: 300px;
    height: 200px;
    transition: transform 0.4s ease, filter 0.4s ease;
    cursor: pointer;
    margin: 10px;
    border-radius: 20px;
}
.hover-img2:hover {
    transform: scale(1.1);     /* zoom */
    filter: brightness(80%);  /* slightly darker */
}

.hover-img3 {
    width: 300px;
    height: 200px;
    transition: transform 0.4s ease, filter 0.4s ease;
    cursor: pointer;
    margin: 10px;
    border-radius: 20px;
}
.hover-img3:hover {
    transform: scale(1.1);     /* zoom */
    filter: brightness(80%);  /* slightly darker */
}

.pictures {
    text-align: center;
} 

.section-3 {
    background-color: black;
    color: white;
    margin-top: 0px;
    text-align: center;
    padding: 20px;
}

#end {
    background-color:black;
    margin-top: 0px;
    color: #ffffff;
    text-align: left;
    padding: 20px;
}